results/result.png
RemoteViewableDemoOfConsolidatedCode.ipynb
DevNotebooks/results/
*.pyc
ignore/results/*
ignore/lysozyme images/*
*.npy
*.csv
.flake8

.vscode/settings.json
ignore/chats_demo/terms.json
.coverage
.gitignore
tests/test_lysoszyme_stain_quantification/test_segment_crypts_simple.py
