results/result.png
RemoteViewableDemoOfConsolidatedCode.ipynb
DevNotebooks/results/
*.pyc
ignore/results/*
ignore/lysozyme images/*
*.npy
*.csv
.flake8

.vscode/settings.json
ignore/chats_demo/terms.json
.coverage
.gitignore

lysozyme images/*

.gitignore
run.ipynb
lysozyme.code-workspace
results/*
method_development/figures/crypt_segmentation_overview.png
src/lysozyme_stain_quantification/crypts/crypt_detection_solutions/figures/crypt_segmentation_overview.png
