results/result.png
RemoteViewableDemoOfConsolidatedCode.ipynb
DevNotebooks/results/
*.pyc
ignore/results/*
ignore/lysozyme images/*
*.npy
*.csv
.flake8

.vscode/settings.json
ignore/chats_demo/terms.json
